@media only screen and (min-width: 550px) {
    .galery{
        width: 550px;
        margin: auto;
    }
    .galery__grid{
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-gap: 10px;
        
    }
    .galery_grid__element{
        border-radius: 6px;
        height: 160px;
        background-image: url('../img/landingPagePortada.png');
        background-size: cover;
        background-position: center;
    }
}

@media only screen and (min-width: 700px) {
    .galery{
        width: 700px;
        margin: auto;
    }
    .galery__grid{
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-gap: 10px;
        
    }
    .galery_grid__element{
        border-radius: 6px;
        height: 180px;
        background-image: url('../img/landingPagePortada.png');
        background-size: cover;
        background-position: center;
    }
}
@media only screen and (min-width: 1050px) {
    .galery{
        width: 1050px;
        margin: auto;
    }
    .galery__grid{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        
    }
    .galery_grid__element{
        border-radius: 6px;
        height: 250px;
        background-image: url('../img/landingPagePortada.png');
        background-size: cover;
        background-position: center;
    }
}