.inkersProfile__header{
   
    background-image: url('../img/portadadesktop.png');
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    height: 90px;
    position: relative;
    justify-content: center;
    
}
.inkersProfile_header__title{
    color: white;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 4px 4px #000000; 
}
.inkersProfile_header__photo{
    top: 61px;
    left: calc(50% - 23px);
    position: absolute;
    height: 46px;
    width: 46px;
    background-image: url('../img/perfildesktop.png');
    background-size: cover;
    background-position: center;
}
.inkersProfile__content{
    text-align: center;
}
.inkersProfile_content__info{
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
}
.inkersProfile_content_info__local{
    display: inline-block;
    margin-right: 5px;
}
.inkersProfile_content_info__ubi{
    display: inline-block;
    margin-left: 2px;
}
.inkersProfile_content__btn{
    margin-bottom: 20px ;
    margin-top: 10px;
}


.inkersProfile__grid{
    padding:0 16px ;
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 8px;
}
.inkersProfile_grid__element{
    background-size: cover;
    background-position: center;
    
    height: 160px;
    border-radius: 4px;
}