@import url("../css/nav-mobile.css");
@import url("../css/landingPage-mobile.css");
@import url("../css/galery.css");
@import url("../css/modalGalery.css");
@import url("../css/contactForm.css");
@import url("../css/inkersprofile.css");
@import url("../css/inkersGalery.css");


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
    z-index: 0;
    text-decoration: none;
}
header{
    position: relative;
}
.hidden{
    display: none;
}
