@media only screen and (min-width: 1050px) {
    .landingPage__estilos,
    .landingPage__tatuadores{
        width: 1050px;
        margin: auto;
    }
    .landingPage_estilos__carousel{
        height: 280px;
    }
    .landingPage_estilos_carousel__element{
        min-width: 220px;
        height: 220px;
    }
    .landingPage_tatuadores__carousel{
        height: 280px;
    }
    .landingPage_tatuadores_carousel__element{
        min-width: 220px;
        height: 220px;
    }
}