.contactForm{
    z-index: 10;
    position: absolute;
    top: 50px;
    text-align: center;
    height: 100vh;
    background-color: white;
    padding: 42px 30px;
}
.contactForm__title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #3D3D3D;

}
.contactForm__p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #3D3D3D;
    margin-top: 20px;
    margin-bottom: 40px;
}
.contactForm_form__input{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    border: 1px solid #929292;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 10px 0 10px 19px;
    margin-bottom: 16px;
    width: 100%;
}
.contactForm_form__btn{
    margin-top: 24px;
    width: 164px;
    height: 32px;
    background: #DF7164;
    border-radius: 100px;
    color: white;
    border: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;

}
.contactForm_form__data{
    position: absolute;
    top: -500px;
    left: -500px;
}