@import url("../css/nav-mobile.css");
@import url("../css/landingPage-mobile.css");
@import url("../css/galery.css");
@import url("../css/modalGalery.css");
@import url("../css/contactForm.css");
@import url("../css/inkersprofile.css");
@import url("../css/inkersGalery.css");
@import url("../css/popUp.css");
@import url("../css/comoFunciona.css");


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
    z-index: 0;
    text-decoration: none;
}
header{
    position: relative;
}
.hidden{
    display: none;
}
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fffffffd; 
}

/* Handle */
::-webkit-scrollbar-thumb {
      border-radius: 5px;
    background: rgba(0, 0, 0, 0.734); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(51, 51, 51, 0.857); 
  }
